.header
  position: relative
  background: #FFFFFF
  height: fit-content
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.10)
  padding: 7px 0
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 1540px
    padding: 0 10px
    margin: 0 auto
  &-logo
    flex-grow: 2
    a
      color: #ffffff
  &-nav
    &-mobile
      display: none
      &__toggle
        display: none
    flex-grow: 3
    ul
      display: flex
      align-items: center
      justify-content: space-between
      li
        color: #F64953
        a
          position: relative
          display: inline-block
          color: #F64953
          font-size: 14px
          &.nuxt-link-exact-active
            &::after
              position: absolute
              content: ''
              right: 0
              height: 2px
              background-color: $color-text-d-blue
              left: 0
              bottom: -18px
  &-btn
    flex-grow: 5
    display: flex
    align-items: center
    justify-content: flex-end
    &__login
      display: flex
      align-items: center
      justify-content: center
      background: $color-text-blue
      border-radius: 22px
      height: 45px
      cursor: pointer
      width: 170px
      svg
        margin-right: 10px
      p
        color: #ffffff
        font-size: 14px
    &__balance
      display: flex
      align-items: center
      justify-content: space-evenly
      flex-basis: 100px
      &--img
        background: #F9F9F9
        width: 45px
        height: 45px
        border-radius: 100%
        display: flex
        align-items: center
        justify-content: center
        img
          width: 15px
          height: 15px
          object-fit: contain
      p
        font-family: inherit
        font-weight: bold
        //color: #ffffff
        font-size: 14px
    &__notify
      flex-basis: 90px
      display: flex
      align-items: center
      justify-content: center
      &--img
        position: relative
        background: #F9F9F9
        width: 45px
        height: 45px
        border-radius: 100%
        display: flex
        align-items: center
        justify-content: center
        &--num
          position: absolute
          background: #832A2A
          width: 12px
          height: 12px
          border-radius: 100%
          display: flex
          align-items: center
          justify-content: center
          top: 10px
          right: 10px
          p
            font-family: inherit
            font-weight: bold
            color: #ffffff
            font-size: 8px
    &__user
      position: relative
      display: flex
      align-items: center
      justify-content: center
      flex-basis: 170px
      background: #F9F9F9
      border-radius: 22px
      height: 45px
      cursor: pointer
      img
        position: absolute
        width: 45px
        height: 45px
        border-radius: 100%
        object-fit: cover
        left: 0
        top: 0
      &--name
        p

          &:first-child
            font-size: 14px
            font-weight: bold
          &:last-child
            font-size: 12px
      &--arrow
        position: absolute
        right: 20px
        top: 9px
      &:hover > div
        bottom: -60px
        opacity: 1
        pointer-events: all
      &--dropdown
        position: absolute
        left: 0
        right: 0
        bottom: -30px
        padding-top: 15px
        transition: all .2s linear
        opacity: 0
        pointer-events: none
        &__inner
          display: flex
          align-items: center
          justify-content: space-evenly
          height: 45px
          background: #FFFFFF
          box-shadow: 5px 5px 15px rgba(46, 46, 106, 0.16)
          border-radius: 22.5px
        &.dropdownActive
          bottom: -60px
          opacity: 1
          pointer-events: all
    &__user-menu
      display: none
  &-user-menu
    display: none

@media (max-width: 576px)
  .header
    padding: 0
    &-wrapper
      padding: 0
    &-logo
      display: none
    &-nav
      display: none
      &-mobile
        position: absolute
        display: block
        left: 100%
        transition: all .2s linear
        right: 0
        top: 58px
        background: #FFFFFF
        height: 100vh
        padding: 65px 0
        z-index: 100
        ul
          li
            a
              padding: 20px 30px
              display: flex
              align-items: center
              justify-content: flex-start
              color: $color-text
              svg
                margin-right: 20px
                stroke: #CECFDF
              &.nuxt-link-exact-active
                background: #F8F8FB
                color: $color-text-d-blue
                svg
                  stroke: $color-text-d-blue
        &.mobileNavActive
          transform: translateX(0)
          left: 0
        &__toggle
          display: flex
          flex-basis: 50px
          align-items: center
          justify-content: center
          position: absolute
          background: #FFFFFF
          top: 0
          bottom: 0
          right: 0
          width: 50px
          &.mobileNavToggleActive
            z-index: 10
            box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.25), 5px 5px 20px #E6E6F0

    &-btn
      position: relative
      justify-content: space-between
      max-width: 87%
      background: $color-text-d-blue
      padding: 7px 0 7px 10px
      &__balance
        display: none
      &__notify
        order: 2
      &__user-menu
        display: flex
        order: 3
        flex-basis: 50px
        align-items: center
        justify-content: center
        svg
          fill: #FFFFFF
    &-user-menu
      z-index: 100
      display: block
      position: absolute
      top: 58px
      transition: all .2s linear
      left: -100%
      right: 100%
      height: 100vh
      background: $color-text-d-blue
      &.userMenuActive
        left: 0
        right: 0
