.user-profile-gallery
  display: grid
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr))
  grid-gap: 50px
  padding-bottom: 20px
  &__item
    position: relative
    background-size: cover !important
    height: 170px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 10px
    cursor: pointer
    &.galleryVIP
      cursor: not-allowed

    &--number
      position: absolute
      right: 10px
      top: 10px
      width: 24px
      height: 24px
      background: rgba(56, 56, 69, 0.6)
      color: #ffffff
      font-size: 12px
      font-weight: bold
      font-family: 'Inter', sans-serif
      display: flex
      align-items: center
      justify-content: center
      border-radius: 100%
    &--title
      position: absolute
      background: #F8F8FB
      border-radius: 20px
      left: 10px
      right: 10px
      bottom: -20px
      text-align: center
      padding: 5px 0
      min-height: 44px
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      p
        &:first-child
          font-weight: bold
          font-size: 14px
        &:last-child
          font-size: 9px
          color: $color-text-grey

.user-profile-images
  &__top
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 30px
    &--left
      display: flex
      align-items: center
      justify-content: flex-start

      & .user-profile-block__title
        margin-bottom: 0
        margin-right: 20px
      svg
        margin-right: 20px
      p
        font-weight: bold
        font-size: 14px

    &--right
      display: flex
      align-items: center
      justify-content: space-between
      flex-basis: 80px
      cursor: pointer
      p
        font-weight: bold
        font-size: 14px
        color: $color-l-green

  &__wrapper
    display: grid
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr))
    grid-gap: 20px
  &__item
    img
      object-fit: cover


.streamerAlbumTab
  &-table-img
    &__wrapper
      display: grid
      grid-template-columns: repeat(auto-fill,minmax(100px,1fr))
      grid-gap: 20px
    &__item
      position: relative
      img
        width: 120px
        height: 90px
        object-fit: cover
        border-radius: 4px
      p
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        right: 0
        top: 0
        background: #FFFFFF
        color: $color-text-d-blue
        width: 20px
        height: 20px
        border-radius: 100%
        cursor: pointer
        transition: all .2s linear
        &:hover
          transform: scale(1.4)
          background: $color-text-d-blue
          color: #FFFFFF
      &.addNewImage
        border: 1px dashed $color-text-grey
        display: flex
        align-items: center
        justify-content: center
        width: 120px
        height: 90px
        border-radius: 4px
        cursor: pointer
        transition: all .2s linear
        &:hover
          border-color: $color-text-d-blue
          color: $color-text-d-blue
    &__preview
      width: 100px
      height: 100px
      object-fit: cover
